<h3> My Events </h3>
<ul> 
    <% current_user.events.all.each do |event| %>
        <li>
            <h4> <%= event.title%> </h4>
            <h5> <%= link_to "click for details", event_path(event), class: "link" %> </h5>
        </li>
    <% end %>
</ul>

<h3> Attending </h3>
<ul>
    <% current_user.attended_events.each do |event|%>
        <li>
            <h4> <%= event.title%> </h4>
            <h5> <%= link_to "click for details", event_path(event), class: "link" %> </h5>
        </li>
    <% end %>
</ul>

